AGENT ID GTHGE3JC7HLJ-JC2VXH1PMT3C(api): master-2021-05-07-8b0ac39 (1.1) | electroneum version: 3.3.0.0-781cfeffbaccount.booking.com<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="MyGet-neo" value="https://www.myget.org/F/neo/api/v3/index.json" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
